@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:ital,wght@1,700&display=swap');

.header-content-container { 
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   text-align: center;
   /* color: red; */
   color: white; 
   line-height: 2;
   font-size: 3rem;
   background-color: black;
   font-family: 'Permanent Marker', cursive;
   font-size: 4rem;
   padding: 50px; 
   /* border: 7mm ridge red; */
   border: 2mm ridge white;
   white-space: pre-line;
}  

.header-btn-div {  
   width: 8em; 
   color: white; 
   display: flex;
   justify-content: space-between;
} 

.home-btn, 
.menu-btn, 
.contact-btn { 
   font-size: 2rem; 
   font-family: 'Permanent Marker', cursive;
   background-color: white;
}



.main-content-div-container { 
   display: flex; 
   justify-content: space-between;
   /* position: relative; */
   background-color: black;
}

.burger-pics { 
   width: 35%; 
   /* border: 20px solid red; */
} 

.text-over-image-styles { 
   width: 30%;
   color: white; 
   text-align: center;
   font-size: 3.5rem;
   font-family: 'Permanent Marker', cursive;
   white-space: pre-line;
} 


.footer-content-div { 
   /* border: 7mm ridge red; */
   border: 2mm ridge white;
   background-color: black;
   color: white; 
   text-align: center;
   height: 8em; 
   font-family: 'Permanent Marker', cursive;
   font-size: 2rem;
   white-space: pre-line;
} 

.menu-section-div { 
   /* display: flex; */
   background-color: yellow;
   color: black;
   text-align: center; 
   font-family: 'Permanent Marker', cursive;
   font-size: 3rem; 
   margin-bottom: -17px; 
   /* text-decoration: underline; */
}

.starter-menu-header-text, 
.burger-menu-header-text, 
.cheese-steak-header-text { 
   font-size: 5rem; 
   text-decoration: underline;
} 

.cheese-fries-description-text,
.onion-rings-description-text, 
.boneless-wings-description-text,
.mozzarella-stick-description-text,
.alec-nachos-description-text, 
.the-classic-burger-description-text,
.double-bacon-cheeseburger-description-text,
.elk-burger-description-text,
.frita-burger-description-text, 
.classic-philly-cheesesteak-description-text,
.steak-milano-cheesesteak-description-text
 { 
   font-size: 1rem;
}  

/* .contact-page-location-picture-styles { 
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
} */

.contact-page-container-div-styles { 
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: yellow;
} 

.contact-page-phone-number-styles, 
.contact-page-address-text-styles, 
.contact-page-farewell-text { 
   font-size: 3rem; 
   font-family: 'Permanent Marker', cursive;
   text-decoration: underline;
   text-align: center; 
   white-space: pre-line;
}
